html {
    scroll-behavior: smooth;
}
.nav-color {
    background-color: #216b39;
}
a.nav-link {
    opacity: 0.75 !important;
    color: white !important;
}
a.nav-link:hover {
    opacity: 1 !important;
}
.custom-bg-color {
    background-color: white;
}
.custom-bg-color-2 {
    background-color: #464646;
}
.custom-bg-color-3 {
    background-color: #216b39;
}

.custom-bg-color-4 {
    background-color: #8bb094;
}
.custom-bg-color-5 {
    background-color: white;
}
body {
    color: white;
    background-color: white;
}
.custom-font {
    font-family: 'Signika', sans-serif;
}
.card-custom-preview {
    max-width: 250px;
    width: 25rem;
}
.card-custom {
    width: 25rem;
}
.crops-list-tab {
    color: white;
    text-align: center;
}
main > .container {
    padding-top: 64px !important;
}

.nav-tabs .nav-link.active {
    background-color: #8bb094; /*545454*/
    border-color: #216b39; /*333333*/
    color: #fff;
}
.nav-link:hover {
    color: #fff !important;
    background-color: #545454;
    border-radius: var(--bs-border-radius) !important;
}

.nav-tabs {
    --bs-nav-tabs-link-hover-border-color: #333333;
}

.brown-text {
	color: #4e260d; 
}

